body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#container {
  display: grid;
  grid-template-areas:
    "header"
    "peli";
  justify-items: stretch;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "leaderboard points info";
  background: transparent;
}

td {
  width: 10%;
}

td, tr {
  background: transparent;
}

#info {
  grid-area: info;
  text-align: center;
  background: transparent;
}

#leaderboard-table {
  grid-area: leaderboard;
  color: rgb(0, 255, 0);
  background: transparent;
  text-align: center;
}

input {
  padding: 0;
  font-size: 1em;
}

button {
  border: none;
  padding: 0;
  font-size: 1em;
  color: rgb(0, 255, 0);
  background: transparent;
}

button:hover {
  color: rgb(255, 0, 0);
}

#points-form-container {
  grid-area: points;
  text-align: center;
  background: transparent;
}

#points-form {
  text-align: center;
  padding: 1em;
  background: transparent;
}

#info, #name, #points {
  color: rgb(0, 255, 0);
  border: none;
  background: transparent;
}

#game-frame {
  grid-area: peli;
}
