body {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#container {
  display: grid;
  grid-template-areas:
    "header"
    "peli";
  justify-items: stretch;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: "points leaderboard";
}

#lb {
  grid-area: "leaderboard";
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
}

#points {
  grid-area: "points";
  color: rgb(0, 255, 0);
  justify-self: center;
  padding: 5px;
}

#game-frame {
  grid-area: peli;
}
